<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KVMDC54M');</script>
    <!-- End Google Tag Manager -->
    <title>PIZZERIA La Cittá</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="薩摩川内市天辰町にあるPIZZERIA La Cittá（ラ チッタ）。薪窯で焼き上げる本格ナポリピッツァをご提供しております。">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# ogp %>
    <meta property="og:title" content="PIZZERIA La Cittá">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_url('logo.jpg') %>">
    <meta property="og:description" content="薩摩川内市天辰町にあるPIZZERIA La Cittá（ラ チッタ）。薪窯で焼き上げる本格ナポリピッツァをご提供しております。">
    <%# Generated with: https://realfavicongenerator.net/ %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#61b9d2">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%# fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <%# fontawesome %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%# swiper %>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <style>
    .dropdown-menu {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-0.5rem) scale(0.95);
      transition: all 0.3s;
    }
    .dropdown.open .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }
  </style>
  <body class="flex flex-col h-screen justify-between">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVMDC54M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class='z-10 fixed w-full bg-black'>
      <div class='mx-auto flex max-w-[425px] items-center pr-2 pl-4 py-2'>
        <div class='flex items-center justify-between w-full'>
          <div class='flex w-full font-extrabold text-white lg:w-1/2 lg:justify-start'>
            <%= link_to root_path, class: "text-2xl  no-underline hover: hover:no-underline flex items-center rounded-lg w-[50px]" do %>
              <%= image_tag "logo.jpg", class: "menu-logo rounded-md" %>
            <% end %>
          </div>
          <div class='flexcontent-center justify-between pt-2 lg:w-1/2 lg:justify-end lg:pt-0'>
            <ul class='list-reset flex flex-1 items-center justify-center lg:flex-none h-12'>
              <% if admin_signed_in? %>
                <li class='px-4 text-white no-underline'>
                  <%= link_to admin_root_path do %>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-full p-3 text-white" viewBox="0 0 16 16">
                      <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                    </svg>
                  <% end %>
                </li>
                <li class='px-4 text-white no-underline'>
                  <%= link_to admin_customers_path do %>
                    <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" fill="white"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87" fill="white"></path><path d="M16 3.13a4 4 0 0 1 0 7.75" fill="white"></path>
                    </svg>
                  <% end %>
                </li>
                <li class='px-4 text-white no-underline'>
                  <%= link_to admin_products_path do %>
                    <i class="fa-solid fa-pizza-slice text-[18px]"></i>
                  <% end %>
                </li>
                <li class='no-underline'>
                  <div class="flex items-center justify-center">
                    <div class="relative inline-block text-left dropdown">
                      <button class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out  rounded-md" type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                        <svg class="h-6 w-6" id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                          <path fill="white" d="M288 320a224 224 0 1 0 448 0 224 224 0 1 0-448 0zm544 608H160a32 32 0 0 1-32-32v-96a160 160 0 0 1 160-160h448a160 160 0 0 1 160 160v96a32 32 0 0 1-32 32z">
                          </path>
                        </svg>
                      </button>
                      <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                        <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                          <div class="px-4 py-3">
                            <p class="text-sm leading-5">Signed in as</p>
                            <p class="text-sm font-medium leading-5  truncate"><%= current_admin.email %></p>
                          </div>
                          <div class="py-1">
                            <%= link_to destroy_admin_session_path, data: { turbo_method: :delete }, class: "text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" do %>
                              Sign out
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              <% elsif customer_signed_in? %>
                <li class='text-white no-underline'>
                  <%= link_to products_path, class: "p-4 relative border-2 border-transparent rounded-full focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out flex" do %>
                    <i class="fa-solid fa-pizza-slice text-[18px]"></i>
                  <% end %>
                </li>
                <li class='text-white no-underline'>
                  <%= link_to cart_items_path, class: "p-4 relative border-2 border-transparent rounded-full focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out flex" do %>
                    <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                      <path fill="white" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                    </svg>
                    <span class="absolute top-0 right-0">
                      <div class="inline-flex items-center px-1.5 py-0.4 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
                        <%= total_quantity(current_customer.cart_items) %>
                      </div>
                    </span>
                  <% end %>
                </li>
                <li class='no-underline'>
                  <div class="flex items-center justify-center">
                    <div class="relative inline-block text-left dropdown">
                      <button class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out  rounded-md" type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                        <svg class="h-6 w-6" id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                          <path fill="white" d="M288 320a224 224 0 1 0 448 0 224 224 0 1 0-448 0zm544 608H160a32 32 0 0 1-32-32v-96a160 160 0 0 1 160-160h448a160 160 0 0 1 160 160v96a32 32 0 0 1-32 32z">
                          </path>
                        </svg>
                      </button>
                      <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                        <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                          <div class="px-4 py-3">
                            <p class="text-sm leading-5">Signed in as</p>
                            <p class="text-sm font-medium leading-5  truncate"><%= current_customer.email %></p>
                          </div>
                          <div class="py-1">
                            <%= link_to edit_customer_registration_path, class: "text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" do %>
                              Account settings
                            <% end %>
                            <%= link_to orders_path, class: "text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" do %>
                              Order histories
                            <% end %>
                          </div>
                          <div class="py-1">
                            <%= link_to destroy_customer_session_path, data: { turbo_method: :delete }, class: "text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" do %>
                              Sign out
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              <% else %>
                <li class='px-4 text-white no-underline'>
                  <%= link_to "Sign Up", new_customer_registration_path, class: "whitespace-nowrap" %>
                </li>
                <li class='px-4 text-white no-underline'>
                  <%= link_to "Sign In", new_customer_session_path, class: "whitespace-nowrap" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="notifice-float p-4 text-md text-blue-700 text-center font-bold fixed z-20 bottom-5 right-0 bg-gray-300 rounded-lg">
        <%= notice %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notifice-float p-4 mb-4 text-md text-red-700 text-center font-bold fixed z-20 bottom-5 right-0 bg-gray-300 rounded-lg">
        <%= alert %>
      </div>
    <% end %>
    <main class="<%= controller_path == 'customer/products' && action_name == 'index' ? 'pt-[66px]' : '' %>">
      <%= yield %>
    </main>
  </body>
  <footer class="bg-gray-900 text-gray-200">
    <div class="mx-auto px-6 py-10 grid gap-8 max-w-[425px] m-0 auto">
      <!-- 店舗情報 -->
      <div>
        <h2 class="text-xl font-bold text-white">PIZZERIA La Cittá</h2>
        <p class="mt-3 text-sm leading-6">
          店舗: 鹿児島県薩摩川内市天辰町819-1<br>
          TEL: 050-8888-8008
        </p>
      </div>
      <!-- 営業時間 -->
      <%# <div>
        <h2 class="text-lg font-semibold text-white">営業時間</h2>
        <ul class="mt-3 space-y-1 text-sm">
          <li>月〜金: 11:30 - 22:00</li>
          <li>土日祝: 11:00 - 23:00</li>
          <li>定休日: 火曜日</li>
        </ul>
      </div> %>
      <!-- SNSリンク -->
      <div>
        <h2 class="text-lg font-semibold text-white">SNS</h2>
        <div class="mt-3 flex space-x-4">
          <a href="https://www.instagram.com/pi_lacitta/" class="hover:text-sky-400 transition underline">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <!-- 特定商取引法に基づく表記リンク -->
      <div class="flex grid gap-4">
        <a href="/law" class="text-sm text-gray-300 hover:text-white underline">特定商取引法に基づく表記</a>
        <a href="/privacy" class="text-sm text-gray-300 hover:text-white underline">プライバシーポリシー</a>
        <a href="/terms" class="text-sm text-gray-300 hover:text-white underline">利用規約</a>
      </div>
    </div>
    <!-- コピーライト -->
    <div class="border-t border-gray-700 pt-4 pb-4 text-center text-sm text-gray-500">
      © <%= Time.current.year %> PIZZERIA La Cittá. All rights reserved.
    </div>
  </footer>
</html>
